################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArkSystem/.vs/ArkSystem
/ArkSystem/ArkSystem/obj
